
body { 
    font-size: 140%; 
  }
  table{
    background-color: white;
    border: 10px solid black;
  }
  
  h2 {
    text-align: center;
    padding: 20px 0;
  }
  
  table caption {
    padding: .5em 0;
  }
  
  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }
  
  .view {
    height: 100vh;
  }

  nav{
    display: flex;
    justify-content: space-between;
    margin: 0, 1rem;
  }
  nav a {
    text-decoration: none;
    color: white;
    
  }
  nav a:hover {
    color: white;
    /* background-color: rgba(255, 255, 255, 0.856); */
    font-weight: bold;
    
  }
  
  #denybtn {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid red;
    box-shadow: 1px 2px 1px black;
  }

  #approvebtn {
    background-color: green;
    color: white;
    font-weight: bold;
    border: 1px solid green;
    box-shadow: 1px 2px 1px black;
    margin-right: 5px;
  }
  #approvebtn:hover {
   box-shadow: 1px 1px 1px 2px green;
  }

  #denybtn:hover {
    box-shadow: 1px 1px 1px 2px red;
   }